{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "ingress/css/pure-min.css" %}">
    <link rel="stylesheet" href="{% static "ingress/css/ingress.css" %}">
    <title>{% block title %}{% endblock %} | Ingress Beijing</title>
    {% block meta %}{% endblock %}
</head>
<body>


<div class="wrapper">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/portals/">Portals</a></li>
            <li><a href="/players/">Players</a></li>
            <li><a href="/mus/">MUs</a></li>
            <li><a href="/actions/">Actions</a></li>
            <li><a href="/messages/">Messages</a></li>
            <li><a href="/search/">Search</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </div>

    {% block content %}{% endblock %}

    <div class="footer"> © 2014 mitnk </div>
</div>


{% if not debug %}
{% endif %}

</body>
</html>
